#colordiv {
    display: block;
    height: 50px;
    width: 50px;
    background-color: black;
}

p {

user-select: none;

}

#name {

    user-select: none;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}